{% extends 'base.html.twig' %}

{% block title %}Leboncoin{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Browse by City</h2>
            <div class="list-group">
                <a href="{{ path('deals') }}" class="list-group-item list-group-item-action">Browse All Cities</a>
                {% for city in cities %}
                <a href="{{ path('city_adverts', {'slug': city.slug}) }}"
                   class="list-group-item-action list-group-item d-flex justify-content-between align-items-center">
                    {{ city.name }}
                    <span class="badge badge-primary badge-pill">{{ city.getAdvertsCount }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <h2>Browse by Category</h2>
            <div class="list-group">
                <a href="{{ path('deals') }}" class="list-group-item list-group-item-action">Browse All Categories</a>
                {% for category in categories %}
                    <a href="{{ path('category_view', {'slug': category.slug}) }}"
                       class="list-group-item-action list-group-item d-flex justify-content-between align-items-center">
                        {{ category.name }}
                        <span class="badge badge-primary badge-pill">{{ category.getAdvertsCount }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
